In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dt = np.dtype([('instance_no', int),
               ('exp_no', int),
               ('method', int), # 1 = white box, 2 = euclidean_PCA, 3 = hog, 4 = euclidean_PCA category, 5 = hog category, 6 = ais
               ('pca_n', int),
               ('percentage_of_data', float),
               ('percentile', float),
               ('mc_euclidean_no_batches', int), # stuff
               ('mc_hog_no_batches', int), # stuff
               ('sigma_ais', float),
               ('mc_attack_log', float),
               ('mc_attack_eps', float),
               ('mc_attack_frac', float), 
               ('mc_attack_log_50', float), 
               ('mc_attack_eps_50', float),
               ('mc_attack_frac_50', float),
               ('white_box_50', float),
               ('white_box_11', float),
               ('ais_50', float),
               ('ais_acc_rate_50', float),
               ('successful_sum_attack_1', float),
               ('successful_sum_attack_2', float),
               ('successful_sum_attack_3', float),
              ])

In [4]:
data = pd.DataFrame(np.loadtxt('CIFAR10_MC_ATTACK.csv', dtype=dt))


data = data.assign(mem_inf_adv_mc_log = lambda x: (x.mc_attack_log_50-0.5)*2)
data = data.assign(mem_inf_adv_mc_ones = lambda x: (x.mc_attack_eps_50-0.5)*2)
data = data.assign(mem_inf_adv_wb = lambda x: (x.white_box_50-0.5)*2)
data = data.assign(mem_inf_adv_ais = lambda x: (x.ais_50-0.5)*2)

def convert_to_set_prob(x):
    prob = np.zeros((len(x),))
    for i in range(len(x)):
        if x[i] > 0:
            prob[i] = 1
        elif x[i] == 0:
            prob[i] = 0.5
        elif x[i] < 0:
            prob[i] = 0
    return prob

data = data.assign(set_accuracy_mc_log = lambda x: convert_to_set_prob(x.mem_inf_adv_mc_log))
data = data.assign(set_accuracy_mc_ones = lambda x: convert_to_set_prob(x.mem_inf_adv_mc_ones))
data = data.assign(set_accuracy_wb = lambda x: convert_to_set_prob(x.mem_inf_adv_wb))
data = data.assign(set_accuracy_ais = lambda x: convert_to_set_prob(x.mem_inf_adv_ais))

data = data.assign(set_mem_inf_adv_mc_log = lambda x: 2*x.set_accuracy_mc_log-1)
data = data.assign(set_mem_inf_adv_mc_ones = lambda x: 2*x.set_accuracy_mc_ones-1)
data = data.assign(set_mem_inf_adv_wb = lambda x: 2*x.set_accuracy_wb-1)
data = data.assign(set_mem_inf_adv_ais = lambda x: 2*x.set_accuracy_ais-1)

white_box = data[data.method == 1]
pca = data[data.method == 2]
hog = data[data.method == 3]
pca_cat = data[data.method == 4]
hog_cat = data[data.method == 5]
ais = data[data.method == 6]
color_hist = data[data.method == 8]

# White Box

In [5]:
len(white_box)

0

In [6]:
print(str(np.round(100*white_box.white_box_50.mean(),2))+'$\pm$'+str(np.round(100*white_box.white_box_50.std()/np.sqrt(white_box.white_box_50.count()),2)))
print(str(np.round(100*white_box.set_accuracy_wb.mean(),2))+'$\pm$'+str(np.round(100*white_box.set_accuracy_wb.std()/np.sqrt(white_box.set_accuracy_wb.count()),2)))

nan$\pm$nan
nan$\pm$nan

# AIS

In [7]:
print(ais.mem_inf_adv_ais.mean())
print(ais.set_accuracy_ais.mean())

nan
nan

# PCA
0.1 mc_attack_log_50

In [8]:
pca.pca_n.unique()

array([40], dtype=int64)

In [17]:
pca_opt_dim = pca[pca.pca_n == 40]

opt_perc = -1

print(pca_opt_dim[pca_opt_dim.percentile == opt_perc].set_accuracy_mc_log.mean())
print(pca_opt_dim[pca_opt_dim.percentile == opt_perc].set_accuracy_mc_ones.mean())

0.7142857142857143
0.7142857142857143

In [11]:
100*pca_opt_dim.groupby(['percentile']).mean()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]

,set_accuracy_mc_ones,set_accuracy_mc_log,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,71.428571,71.428571,52.380952,52.380952

In [12]:
np.round(pca_opt_dim.groupby(['percentile']).std()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]*100
/np.sqrt(pca_opt_dim.groupby(['percentile']).count()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]),2)

,set_accuracy_mc_ones,set_accuracy_mc_log,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,10.1,10.1,11.17,11.17

In [13]:
np.round(100*pca_opt_dim.groupby(['percentile']).mean()[['mc_attack_log_50','mc_attack_eps_50']],2)

            mc_attack_log_50  mc_attack_eps_50
percentile
-1.0                    51.9              51.9

In [14]:
np.round(pca_opt_dim.groupby(['percentile']).std()[['mc_attack_log_50','mc_attack_eps_50','successful_sum_attack_1','successful_sum_attack_2']]*100
/np.sqrt(pca_opt_dim.groupby(['percentile']).count()[['mc_attack_log_50','mc_attack_eps_50','successful_sum_attack_1','successful_sum_attack_2']]),2)

,mc_attack_log_50,mc_attack_eps_50,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,0.7,0.7,11.17,11.17

# Color Histogram
0.1 mc_attack_log_50

In [19]:
color_hist

opt_perc = -1

print(color_hist[color_hist.percentile == opt_perc].set_accuracy_mc_log.mean())
print(color_hist[color_hist.percentile == opt_perc].set_accuracy_mc_ones.mean())
print(color_hist[color_hist.percentile == opt_perc].successful_sum_attack_1.mean())
print(color_hist[color_hist.percentile == opt_perc].successful_sum_attack_2.mean())

0.42857142857142855
0.42857142857142855
0.47619047619047616
0.5238095238095238

In [20]:
np.round(100*color_hist.groupby(['percentile']).mean()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']],2)

,set_accuracy_mc_ones,set_accuracy_mc_log,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,42.86,42.86,47.62,52.38

In [21]:
np.round(color_hist.groupby(['percentile']).std()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]*100
/np.sqrt(color_hist.groupby(['percentile']).count()[['set_accuracy_mc_ones','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]),2)

,set_accuracy_mc_ones,set_accuracy_mc_log,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,10.51,10.51,11.17,11.17

In [22]:
np.round(100*color_hist.groupby(['percentile']).mean()[['mc_attack_log_50','mc_attack_eps_50']],2)

            mc_attack_log_50  mc_attack_eps_50
percentile
-1.0                   49.57             49.57

In [23]:
np.round(100*color_hist.groupby(['percentile']).std()[['mc_attack_log_50','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]/np.sqrt(color_hist.groupby(['percentile']).count()[['mc_attack_log_50','set_accuracy_mc_log','successful_sum_attack_1','successful_sum_attack_2']]),2)

,mc_attack_log_50,set_accuracy_mc_log,successful_sum_attack_1,successful_sum_attack_2
percentile,,,,
-1.0,0.67,10.51,11.17,11.17